* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: rgb(95, 167, 250);
  font-family: Arial, sans-serif;
  margin: 20px;
  position: relative;
}

nav {
  background-color: rgb(17, 17, 17);
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: skyblue;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  color: rgb(255, 137, 226);
  transition-duration: 0.15s;
}
